.PItem_wrapper {
	background-color: #ffffff;
	text-align: left;
	padding: 0.5rem;
	margin-bottom: 2rem;
    border-radius: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 0.1rem, rgba(0, 0, 0, 0.12) 0px 0.1rem 0.2rem;
}

.PItem_image {
	border-radius: 0.2rem 0.2rem 0 0;
	width: 100%;
}
.PItems__title {
	margin-top: 1rem;
	font-size: 1rem;
    font-weight: 400;
    color: rgb(31, 31, 33);
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 0 1rem 0;
}

.PItems__title a {
	color: rgb(31, 31, 33);
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.PItems__imgChooser {
    width: 100%;
    padding: 0.9rem;
    overflow: auto;
}

.PItem__imgChooser__image {
    border-radius: 0.2rem 0.2rem 0 0;
    width: 4.3rem;
    height: 100%;
}

.PItem__imgChooser__image.active {
    border: 2px solid red;
}

.PItems__price {
	font-size: 0.8rem;
    font-weight: 700;
    color: rgb(215, 60, 60);
}

.PItems__priceArea {
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.PItems__sizes {
    background: rgb(247, 247, 247); 
    border: 0.1rem solid rgb(229, 229, 229); 
    border-radius: 0.2rem; 
    color: rgb(142, 142, 147); 
    float: right; 
    font-size: 0.9rem; 
    font-weight: 700; 
    height: 1.6rem; 
    line-height: 1.4rem; 
    margin: 0.2rem 0px 0.2rem 0.8rem; 
    padding: 0px 0.325rem; 
    position: relative; 
    text-align: center; 
    vertical-align: middle; 
    width: auto;
}

.PItems__footer {
	padding: 0 0.5rem 0.5rem 0.5rem;
	display: flex;
	align-items: center;
	color: rgb(128, 128, 128);
}

.PItems__footer > div {
	font-size: 0.75rem;
}

.PItems__footer > div > span {
	font-weight: 700;
}

.PItems__footer > div > img {
	height: 1.2rem;
	margin-right: 0.25rem;
}

.PItems__footer-buttonArea {
	flex: 1;
	text-align: right;
}

.PItems__image-placeholder {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #eee;
}

.placeholder {
	display: block;
	position: relative;
	overflow: hidden;
	height: 1.2rem;
	background: #eee;
	width: 100%;
}

.placeholder.md {
	width: 80%;
}

.placeholder.sm {
	width: 50%;
}

.placeholder.xs {
	width: 25%;
}
